/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
body {
  background-color: #f3f2f2;
}


a {
  text-decoration: none;
}

.header {
  width: 100%;
  color: #fff;
}

.header a {
  color: #fff;
}
.home::after, .signup::after, .companies::after{
  content: "";
  height: 1px;
  background-color: #fff;
  width: 100%;
  display: block;
  margin-top: 2px;
  -ms-transform: scaleX(0); /* IE 9 */
  -webkit-transform: scaleX(0); /* Chrome, Safari, Opera */
  transform: scaleX(0);
  transition: -webkit-transform .3s cubic-bezier(.82,0,.12,1);
transition: transform .3s cubic-bezier(.82,0,.12,1);
transition: transform .3s cubic-bezier(.82,0,.12,1),-webkit-transform .3s cubic-bezier(.82,0,.12,1);
-webkit-transform-origin: left center;
-ms-transform-origin: left center;
transform-origin: left center;
}

 .home:hover::after, .signup:hover::after, .companies:hover::after{
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
 }

.hero {
  background: url("../img/hero_home.jpg") no-repeat center center;
  background-size: cover;
  height: 50vh;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

}

.inline-list {
  text-align: center;
}

.right, .left {
  margin-top: 50px;
}

.right li {
  display: inline-block;
  float: right;
  margin-right: 50px;
  letter-spacing: 1px;
}

.left li {
  display: inline-block;
  float: left;
  margin-left: 50px;
  letter-spacing: 1px;
}

.login {
  margin-right: 50px;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #fff;
  transition: all .3s cubic-bezier(.694,.0482,.335,1);
}

.login:hover {
  background-color: #fff;
  color: #000000;
}


.herotext {
  text-align: center;
  padding-top: 50px;
}

.herotext h1{
  font-size: 4em
}

.herotext p{
  font-size: 2em;
}

.grid {
  margin-top: 100px;
  margin-bottom: 100px;
}


.griditem {
  display: inline-block;
  zoom: 1;         /* for IE */
  display*:inline; /* for IE */
  margin-left: 5.3%;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin-top: 50px;
}


.griditem p {
  color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  letter-spacing: 1px;
}

 .box {
   position: relative;
   width: 350px;
   height:350px;
   border-radius: 15px;
   background-color: #ffffff;
   transition: all .3s cubic-bezier(.694,.0482,.335,1);
 }

 .box:hover .companylogo{

   max-width: 70%;
   max-height: 70%;
 }


 .companylogo {
   max-height: 60%;
    max-width: 60%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .3s;
 }

#uber{
  max-width: 70%;
  max-height: 70%;
}


 .box:hover #uber{

   max-width: 80%;
   max-height: 80%;
 }

.bottom {
  text-align: center;
}

.bottom h1{
  font-size: 2.5em;
}

button {
  background-color: #00ccff;
  color: #fff;
  padding:20px 36px;
  letter-spacing: 1px;
  margin-bottom: 70px;
  border: none;

  transition: all .3s
}

button:hover {
  background-color: #0099ff;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
